<nav>
    <a class="active" href="#/">Home</a>

    {{#if loggedIn}}
        <a href="#/meme/create">Create Meme</a>
    
        <div id="profile">
            <a>Welcome {{username}}</a>
            <a href="#/user/{{userId}}">My Profile</a>
            <a href="#/logout">logout</a>
        </div>
    {{/if}}

</nav>