<div class="box">
    <h1>Register</h1>
    <div class="content">
        <form id="register-form">
            <label for="username">Username</label>
            <input id="username" type="text">
            <label for="password">Password</label>
            <input id="password" type="password">
            <label for="repeatedPassword">Repeat Password</label>
            <input id="repeatedPassword" type="password">
            <input type="submit" value="Register">
        </form>
    </div>
</div>