<form action="#/login" method="post">
    <div class="form-group col-md-4">
        <label for="username">Username:</label>
        <input class="form-control" type="text" id="username" name="username"/>
    </div>
    <div class="form-group col-md-4">
        <label for="password">Password:</label>
        <input class="form-control" type="password" id="password" name="password"/>
    </div>
    <div class="col-md">
        <input class="btn btn-default" type="submit" value="Login"/>
    </div>
</form>